<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5" />
    <meta name="author" content="AdminKit" />
    <meta
      name="keywords"
      content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="shortcut icon" href="img/icons/icon-48x48.png" />

    <link rel="canonical" href="https://demo-basic.adminkit.io/pages-blank.html" />

    <title>Admin Panel</title>

    <link href="/css/app.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />
  </head>

  <body>
    <div class="wrapper">
      <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
          <a class="sidebar-brand" href="index.html">
            <span class="align-middle">Admin Panel</span>
          </a>

          <ul class="sidebar-nav pb-3">
            <li class="sidebar-header">Operation</li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/dashboard">
                <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/user">
                <i class="align-middle" data-feather="users"></i> <span class="align-middle">Users</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/bot">
                <i class="align-middle" data-feather="meh"></i> <span class="align-middle">Bot</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/slot_report">
                <i class="align-middle" data-feather="file-text"></i> <span class="align-middle">Slot Report</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/play_log">
                <i class="align-middle" data-feather="activity"></i> <span class="align-middle">Play Log</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/transfer_log"> <i class="align-middle" data-feather="file-text"></i> <span class="align-middle">Transfer Log</span> </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/setting">
                <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Setting</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/role">
                <i class="align-middle" data-feather="user-check"></i> <span class="align-middle">Role</span>
              </a>
            </li>

            <li class="sidebar-header">Senior Management</li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/senior">
                <i class="align-middle" data-feather="award"></i> <span class="align-middle">Member</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/senior_transfer_log"> <i class="align-middle" data-feather="file-text"></i> <span class="align-middle">Transfer Log</span> </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/senior_daily"> <i class="align-middle" data-feather="calendar"></i> <span class="align-middle">Daily Status</span> </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/senior_monthly"> <i class="align-middle" data-feather="calendar"></i> <span class="align-middle">Monthly Status</span> </a>
            </li>

            <li class="sidebar-header">Master Management</li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/master">
                <i class="align-middle" data-feather="award"></i> <span class="align-middle">Member</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/master_transfer_log"> <i class="align-middle" data-feather="file-text"></i> <span class="align-middle">Transfer Log</span> </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/master_daily"> <i class="align-middle" data-feather="calendar"></i> <span class="align-middle">Daily Status</span> </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/master_monthly"> <i class="align-middle" data-feather="calendar"></i> <span class="align-middle">Monthly Status</span> </a>
            </li>

            <li class="sidebar-header">Agent Management</li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/agent">
                <i class="align-middle" data-feather="award"></i> <span class="align-middle">Member</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/agent_transfer_log"> <i class="align-middle" data-feather="file-text"></i> <span class="align-middle">Transfer Log</span> </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/agent_daily"> <i class="align-middle" data-feather="calendar"></i> <span class="align-middle">Daily Status</span> </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/agent_monthly"> <i class="align-middle" data-feather="calendar"></i> <span class="align-middle">Monthly Status</span> </a>
            </li>

          </ul>
        </div>
      </nav>

      <div class="main">
        <nav class="navbar navbar-expand navbar-light navbar-bg">
          <a class="sidebar-toggle js-sidebar-toggle">
            <i class="hamburger align-self-center"></i>
          </a>

          <div class="navbar-collapse collapse">
            <ul class="navbar-nav navbar-align">
              <li class="nav-item">
                <a class="nav-link" href="/logout">
                  <i class="align-middle" data-feather="log-out"></i>
                  <span class="text-dark">Logout</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>

